altair
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
confection
contourpy
cycler
cymem
cytoolz
decorator
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
Faker
favicon
floret
fonttools
gitdb
GitPython
htbuilder
idna
importlib-metadata
jellyfish
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
langcodes
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
murmurhash
networkx
nltk
numpy
packaging
pandas
pathvalidate
pathy
Pillow
plotly
preshed
protobuf
pyarrow
pydeck
Pygments
pymdown-extensions
Pympler
pyparsing
pypdf
pyphen
python-dateutil
python-multipart
pytz
pytz-deprecation-shim
PyYAML
referencing
regex
requests
rich
rpds-py
scikit-learn
scipy
six
smart-open
smmap
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
st-annotated-text
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
textacy
thinc
threadpoolctl
toml
toolz
tornado
tqdm
typer
typing_extensions
tzdata
tzlocal
uvicorn
urllib3
validators
wasabi
watchdog
zipp
reportlab
easygui
xhtml2pdf
fastembed
qdrant-client